<div class="section-list">
  <img src="{{ img_url }}" />
  <h2>{{ title_pt_1 }}<br>
    <span class="secondary-highlight">{{ title_pt_2 }}</span></br>
  </h2>
  <a href={{ optional_link }} class="sl">{{ link_text }}</a>
</div>
