<div class="large-cta homepage-hero">
	<img src="{{ image_url }}" class="background-image" alt="{{ image_alt_text }}"/>
	<div class="overlay-content">
		<img src="{{ icon_url }}" class="icon"/>
		<h2>{{ heading_line }}
		</h2>
		<div class="body-text">{{ body_text|raw }}</div>
		<a href="{{ link_url }}" class="button">{{ link_text }}</a>
	</div>
</div>
