<div class="blog-wrap">
	<div class="blog-card">
		<img src="{{ image_1 }}" class="back-img"/>

		<p class="text-date">
			{{date}}
		</p>

		<h3 class="blog-title">
			{{ title_1 }}</h3>

		<p class="blog-description">
			{{description_1 }}
		</p>
	</div>

	<div class="blog-card">
		<img src="{{ image_2 }}" class="back-img"/>

		<p class="text-date">
			{{date}}
		</p>

		<h3 class="blog-title">
			{{ title_2 }}</h3>

		<p class="blog-description">
			{{description_2 }}
		</p>
	</div>

	<div class="blog-card">
		<img src="{{ image_3 }}" class="back-img"/>

		<p class="text-date">
			{{date}}
		</p>

		<h3 class="blog-title">
			{{ title_3 }}</h3>

		<p class="blog-description">
			{{description_3 }}
		</p>
	</div>

</div>
