<div class="project-teaser">
	<div class="content">
		<h2>{{ title }}</h2>
		<div class="description">{{ description|raw }}</div>
		<a class="primary button" href="{{ link_url }}>">{{ link_text }}</a>
	</div>
	<div class="project-image-teaser">
		<img src=" {{ img_src }}" alt="{{ image_alt_text }}">
	</div>
</div>
