<div class="blog-teaser-featured">
    <img src="{{ image }}" class="background-image" alt="{{ image_alt }}" />
    <div>{{ date }}</div>
    
   <div class="blog-detail"> <h3>{{ title }}</h3>
    <p>{{ description }}</p></div>
</div>