<div class="blog-teaser-featured">
    <img src="{{ image }}" class="background-image" alt="{{ image_alt }}" />
    <div class="blog-detail">
        <div class="date">{{ date }}</div> 
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>
    </div>
</div>