<div class="project-teaser-featured">
    <img src="{{ image_url }}"class="background-image"/>
    <div class="project-teaser-featured-wrapper">
    <img src="{{ image_style }}" class="image_style"/>
      <h2 class="heading1">{{ title1 }} 
      <span class="heading2">{{ title2 }}</span></h2>
      <div><p class="project-teaser-featured-description">{{ description }}</p></div>
      <div class="project-teaser-featured-link"><a href={{ link_url }}>{{ link_text }}</a></div>
    </div>
</div> 